@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*, *::before, *::after {
        box-sizing: border-box;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: "League Spartan", sans-serif;
        font-size: 20px;
        background: linear-gradient(135deg, #ffe352 0%, #ff5757 40%, #8c52ff 75%, #000000 100%);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff; /* texto blanco para contraste */
    }